/* Estilos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px; /* Resetando margens */
    padding: 0;
    background-color: black; /* Mudando a cor de fundo para preto */
    overflow-x: hidden; /* Impedindo rolagem horizontal */
    display: flex;
    flex-direction: column; /* Para alinhar conteúdo verticalmente */
    align-items: center; /* Centraliza conteúdo na vertical */
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da viewport */
}
header {
    background-color: #000000;
    color: #fdfdfd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
    max-width: 1200px; /* Define largura máxima do cabeçalho */
    margin-bottom: 20px; /* Espaçamento entre o header e o conteúdo */
}

.logo {
    order: 0; /* Coloca o logo no lado esquerdo */
    margin-left: auto;
    margin-right: auto;

}
.logo img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #007bff; /* Adicionando borda azul */
    padding: 5px; /* Espaçamento interno para a borda */
}
header h1 {
    font-size: 48px; /* Ajusta o tamanho da fonte */
    font-weight: bold; /* Fonte em negrito */
    color: #ffffff; /* Cor branca para o texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    text-shadow: 2px 2px 4px rgba(232, 253, 232, 0.4); /* Sombra suave para destacar o texto */
}
header h1 span:nth-child(1) {
    color: #ffffff; /* Cor da primeira letra */
}
nav {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Espaçamento entre o nav e o conteúdo */
    width: 100%; /* Garante que a navegação ocupe toda a largura */
    max-width: 1200px; /* Define largura máxima da navegação */
}
nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 30px;
}
nav a:hover {
    background-color: #ddd;
}
section {
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    flex: 1; /* Para ocupar o espaço restante */
    width: 100%; /* Garante que a seção ocupe toda a largura */
    max-width: 1000px; /* Define largura máxima da seção */
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta para 250px mínimo por coluna */
    grid-gap: 20px;
    overflow: hidden;
    width: 100%; /* Garante que a galeria ocupe toda a largura */
    max-width: 1000px; /* Define largura máxima da galeria */
}
.gallery a {
    display: block;
    text-decoration: none;
    border-radius: 8px; /* Borda arredondada */
    overflow: hidden;
    position: relative; /* Para facilitar a sobreposição do hover */
}
.gallery a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent; /* Borda inicial transparente */
    border-radius: 8px; /* Mesmo raio de borda que a imagem */
    transition: border-color 0.3s ease; /* Transição suave da cor da borda */
}
.gallery a:hover::after {
    border-color: rgb(135, 134, 192); /* Cor da borda ao passar o mouse */
}
.gallery img {
    width: 100%;
    height: 300px; /* Altura fixa das imagens */
    object-fit: cover; /* Mantém proporção da imagem e corta se necessário */
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 6px; /* Borda arredondada */
}
.gallery img:hover {
    transform: scale(1.1);
}
footer {
    /*background-color: #333; */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
}

.container_footer {
    width: 80%;
    margin: 0 auto;
}

.container_footer p {
    font-size: 12px; /* Tamanho do texto menor */
    margin: 0; /* Remove margens */
}
